
@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>

<body>
   
    <button onclick="location.href='@Url.Action("LeavesAppliedByWeekday")';return false;" class="btn btn-primary">
        Leaves Applied by Weekday
    </button>
    
    
    
</body>