

<div class="col-lg-12">
    <div class="row">
        <div class="form-group">
            <label>Leaves Taken</label>
            <canvas id="DonutChartTaken" width="600" height="500"></canvas>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="row">
        <div class="form-group">
            <label>Leaves Left</label>
            <canvas id="DonutChartLeft" width="600" height="500"></canvas>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script>
        //----Donut Chart---------
        var c = document.getElementById("DonutChartTaken");
        debugger
        var ctx = c.getContext("2d");
        var tData = $.getValues("/Leaves/Leavestaken");
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: tData,
        });



        var c = document.getElementById("DonutChartLeft");
        debugger
        var ctx = c.getContext("2d");
        var tData = $.getValues("/Leaves/Leavesleft");
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: tData,
        });
    </script>
}