
@{
    ViewBag.Title = "Dashboard";
}

@{ 
    if(ViewBag.UserRole == "Managerial")
    {
        Layout = "~/Views/Shared/_NewLayoutManagerial.cshtml";

    }

}

<h2>Dashboard</h2>
<div></div>




