@{
    ViewBag.Title = "Home Page";
}

@{ 
    Layout = "";
}

@Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
@Styles.Render("~/Content/vendor/font-awesome/css/font-awesome.min.css")
@Styles.Render("/Content/css/sb-admin.css")




<h2>Home</h2>

